/* Landing page styles */

body {
    background-image: url('../img/Buley_Library_Front.jpg') !important;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background: transparent;
}

.bg-custom {
    background-color: transparent;
}

.btn-info {
    background-color: skyblue;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    background: skyblue;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

/* Landing page heading styles */
.landing-heading {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
