/* Landing page styles */

body {
    background-image: url('https://libweb.southernct.edu/img/Buley_Library_Front.jpg') !important;
    background-color: #575757;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-hero {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
    color: white;
    text-align: center;
}

/* Landing page heading styles */
.resource-links {
    padding-left: unset;
    margin-top: 20px;
}
.resource-links li
{
    margin-bottom: 5px;
    font-size: 1.5em;
    list-style: none;
}
.resource-links a {
    color: white;
    text-decoration: none;
}

.resource-links a:visited {
    color: white;
    background: skyblue;
    text-decoration: none;
}

.resource-links a:hover {
    color: white;
    text-decoration: underline;
} 
.landing-button {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 51, 153);
}