{#
  Place any analytics script here. It will be injected
  inside the <head> of every page via our layout override.
  Example (Matomo, GA4, etc.) can be pasted as-is.
  This file is intentionally empty by default.
#}
