<a href="https://library.southernct.edu" class="navbar-brand">
<img src="https://libweb.southernct.edu/img/SCSU_LogoPrimaryWhi.png" height="150px" alt="Southern Connecticut State University Logo">
</a>
