{%- extends config.kerko.templates.page %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid landing-hero py-5">
    <div class="container">
        <div class="row">
            <!-- Left Column: Hero Heading (col-md-8) -->
            <div class="col-12 col-md-8">
                <h1 class="landing-heading">Currently Hosting<br>{{ total_count }} Resources</h1>
                <div class="mt-4">
                    <a class="btn btn-info btn-lg" href="{{ url_for('kerko.search') }}" role="button">Explore Our Database</a>
                </div>
            </div>

            <!-- Right Column: Resource Types (col-md-4) -->
            <div class="col-12 col-md-4">
                <h2 class="mb-3">Resource Types</h2>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('kerko.search', type='journalArticle', sort='date_desc') }}">Journal Articles</a></li>
                    <li><a href="{{ url_for('kerko.search', type='book', sort='date_desc') }}">Books</a></li>
                    <li><a href="{{ url_for('kerko.search', type='conferencePaper', sort='date_desc') }}">Conference Papers</a></li>
                    <li><a href="{{ url_for('kerko.search', type='bookSection', sort='date_desc') }}">Book Sections</a></li>
                    <li><a href="{{ url_for('kerko.search', type='report', sort='date_desc') }}">Reports</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}